//colors
$color-primary: #9d00ff;
$color-primary-light: #b718ff;
$color-primary-dark: #8200d3;

$color-grey-light-main: #ededed;
$color-grey-dark: #6b6d6e;
$color-grey-table-shadow: #bbbbbb;
$color-grey-table-shadow-hover: #787878;
$color-white: #ffffff;
$color-black: #000;
$color-black-main: #201b22;

//table
$color-right: #d2d0dc;
$color-border-line: #dcd6e7;

//font
$defaut-font-size: 1.6rem;
//grid
$grid-width: 95rem;

//-----elements size to keep ratio  -----//
//icons width
$social-icons: 0.01687289089;
$main-icons: 0.02808988764;
//header
$header-button-width: 0.0797752809;
$header-button-w-padding: 0.008585858586;
$header-button-h-padding: 0.007575757576;
//main-header
$maim-header-h-ratio: 0.2528089888;
$menterprise-h-ratio: 0.1837078652;
