.mainHeader {
  &__title {
    color: $color-primary;
    padding: 0.5rem;
    font-size: 4.85rem;
    @include isVisibleFade;
  }
  &__sub-title {
    font-size: 1.75rem;
    padding-top: 0.3rem;
    @include isVisibleFade;
  }

  &__details {
    width: 73%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    padding: 0rem 2rem;
    margin: auto;
    @include isVisibleFade;

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: 25vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5.5rem 5rem 0;
      @include respond(phone) {
        width: 90vw;
      }
      &:hover > img {
        transform: scale(1.1);
      }

      & img {
        width: 5rem;
        margin: 1.65rem;
        transition: all 0.3s;
      }

      &:hover h4 {
        background-position: 0 100%;
      }

      & h4 {
        font-family: "HelveticaNeueLTPro-Bd";
        font-size: 1.9rem;
        line-height: 2.5rem;
        margin-bottom: 1.7rem;
        width: 70%;

        background: linear-gradient(
          to right,
          $color-primary,
          $color-primary 50%,
          black 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        overflow: hidden;
        transition: background-position 0.275s ease;
        text-decoration: none;
      }
      & p {
        font-family: "HelveticaNeueLTPro-Roman";
        line-height: 2.5rem;
        font-size: 1.67rem;
      }

      @include respond(small-desktop) {
        padding: 5.5rem 2rem 0;
      }
    }
  }
}
