caption {
  font-size: 3.6rem;
  margin: 7.5rem 0 7rem;
}

table {
  margin: 10 auto 5rem;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $color-border-line;
  &:first-child {
    border-bottom: 0;
    padding-bottom: 4rem;
  }
  &:last-child {
    border-bottom: 0;
    & > td:nth-child(2) {
      border-bottom-left-radius: 2rem;
    }
    & > td:nth-child(3) {
      border-bottom-right-radius: 2rem;
    }
  }
  & > td:first-child {
    text-align: left;
    font-family: "HelveticaNeueLTPro-Bd";
  }
}
th {
  font-family: "HelveticaNeueLTPro-Bd";
  padding: 3rem;
  font-size: 2.4rem;

  &:nth-child(2) {
    color: $color-primary;
    border-top-left-radius: 2rem;
    box-shadow: -10px 0px 26px -5px #d9d9d9;
  }
  &:nth-child(3) {
    border-top-right-radius: 2rem;
  }
}

td {
  font-size: 1.75rem;
  height: 6.5rem;

  & img {
    width: 2.5rem;
  }

  & > span {
    line-height: 2.4rem;

    &:nth-child(2)::before {
      content: "\A";
      white-space: pre-line;
    }
  }
}
tbody > tr > :nth-child(2) {
  background: rgba($color-white, 0.6);
}
tbody > tr > :nth-child(3) {
  background: rgba($color-right, 0.4);
}
tbody > tr:last-child > td {
  padding: 2rem 0 5rem;
}
