@font-face {
  font-family: "HelveticaNeueLTPro-Bd";
  src: url("https://amitashdot.github.io/codicate/fonts/Linotype\ -\ HelveticaNeueLTPro-Bd.otf");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Md";
  src: url("https://amitashdot.github.io/codicate/fonts/Linotype\ -\ HelveticaNeueLTPro-Md.otf");
}
@font-face {
  font-family: "HelveticaNeueLTPro-MdCn";
  src: url("https://amitashdot.github.io/codicate/fonts/Linotype\ -\ HelveticaNeueLTPro-MdCn.otf");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Roman";
  src: url("https://amitashdot.github.io/codicate/fonts/Linotype\ -\ HelveticaNeueLTPro-Roman.otf");
}

body {
  font-family: "HelveticaNeueLTPro-Md", default;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.active {
  color: $color-primary-light;
}
.bld {
  font-family: "HelveticaNeueLTPro-Bd";
}
.md {
  font-family: "HelveticaNeueLTPro-Md";
}
.roman {
  font-family: "HelveticaNeueLTPro-Roman";
}
